<template>
  <div class="app-container">
    <avatar-uploader />
    <profile-form />
  </div>
</template>

<script>
import AvatarUploader from './components/AvatarUploader'
import ProfileForm from './components/ProfileForm'

export default {
  name: 'ProfileIndex',
  components: {
    AvatarUploader,
    ProfileForm
  }
}
</script>
