<template>
  <div class="avatar-uploader-container">

    <pan-thumb :image="image" />

    <el-button :plain="true" class="upload" type="primary" icon="upload" @click="imagecropperShow=true">
      Change Avatar
    </el-button>

    <image-cropper
      v-show="imagecropperShow"
      :key="imagecropperKey"
      :width="300"
      :height="300"
      :url="url"
      lang-type="en"
      @close="close"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
import ImageCropper from '@/components/ImageCropper'
import PanThumb from '@/components/PanThumb'
import { mapGetters } from 'vuex'

export default {
  name: 'AvatarUploader',
  components: { ImageCropper, PanThumb },
  data() {
    return {
      imagecropperShow: false,
      imagecropperKey: 0,
      image: '',
      url: process.env.VUE_APP_BASE_API + '/api/uploadAvatar'
    }
  },
  computed: {
    ...mapGetters([
      'avatar'
    ])
  },
  created() {
    this.image = this.avatar
  },
  methods: {
    cropSuccess(resData) {
      this.imagecropperShow = false
      this.imagecropperKey = this.imagecropperKey + 1
      this.image = resData.avatar
      this.$store.commit('SET_AVATAR', resData.avatar)
    },
    close() {
      this.imagecropperShow = false
    }
  }
}
</script>

<style scoped>
  .avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .upload{
    display: block;
    width: 100%;
  }
  .avatar-uploader-container{
    width: 150px;
    margin: 0 auto;
  }
</style>

