<template>
  <div class="profile-form-container">
    <el-form ref="profileForm" :model="profileForm" :rules="profileRules">
      <el-form-item :label="$t('profile.name')" prop="name">
        <el-input
          v-model="profileForm.name"
          type="text"
          @keyup.enter.native="handleUpdateProfile"
        />
      </el-form-item>
      <el-form-item :label="$t('profile.email')" prop="email">
        <el-input
          v-model="profileForm.email"
          type="email"
          @keyup.enter.native="handleUpdateProfile"
        />
      </el-form-item>
      <el-form-item :label="$t('profile.old_password')" prop="old_password">
        <el-input
          v-model="profileForm.old_password"
          type="password"
          @keyup.enter.native="handleUpdateProfile"
        />
      </el-form-item>
      <el-form-item :label="$t('profile.password')" prop="password">
        <el-input
          v-model="profileForm.password"
          type="password"
          @keyup.enter.native="handleUpdateProfile"
        />
      </el-form-item>
      <el-form-item :label="$t('profile.password_confirmation')" prop="password_confirmation">
        <el-input
          v-model="profileForm.password_confirmation"
          type="password"
          @keyup.enter.native="handleUpdateProfile"
        />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" :plain="true" type="primary" @click.native.prevent="handleUpdateProfile">{{ $t('profile.save') }}</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { validEmail } from '@/utils/validate'
import { mapGetters } from 'vuex'
export default {
  data() {
    const validateName = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('This field is required'))
      } else {
        callback()
      }
    }
    const validateEmail = (rule, value, callback) => {
      if (value.length === 0) {
        callback(new Error('This field is required'))
      } else if (!validEmail(value)) {
        callback(new Error('please to fill a valid email'))
      } else {
        callback()
      }
    }
    const validateOldPassword = (rule, value, callback) => {
      if (value.length > 0 && value.length < 8) {
        callback(new Error('This field must be at least 8 chars'))
      } else if (this.profileForm.password.length > 0 && value.length === 0) {
        callback(new Error('This field is required'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length > 0 && value.length < 8) {
        callback(new Error('This field must be at least 8 chars'))
      } else {
        callback()
      }
    }
    const validatePasswordConfirmation = (rule, value, callback) => {
      if (value !== this.profileForm.password) {
        callback(new Error('The password confirmation must match the password'))
      } else {
        callback()
      }
    }
    return {
      profileForm: {
        name: '',
        email: '',
        old_password: '',
        password: '',
        password_confirmation: ''
      },
      profileRules: {
        name: [{ required: true, trigger: 'blur', validator: validateName }],
        email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        old_password: [{ required: false, trigger: 'blur', validator: validateOldPassword }],
        password: [{ required: false, trigger: 'blur', validator: validatePassword }],
        password_confirmation: [{ required: false, trigger: 'blur', validator: validatePasswordConfirmation }]
      },
      loading: false
    }
  },
  computed: {
    ...mapGetters([
      'name',
      'email'
    ])
  },
  created() {
    this.fillModel()
  },
  methods: {
    fillModel() {
      this.profileForm.name = this.name
      this.profileForm.email = this.email
    },
    handleUpdateProfile() {
      this.$refs.profileForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('UpdateProfile', this.profileForm).then(() => {
            this.emptyPassFields()
            this.loading = false
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    emptyPassFields() {
      this.profileForm.password = ''
      this.profileForm.password_confirmation = ''
      this.profileForm.old_password = ''
    }
  }
}
</script>
