<template>
  <div class="password-reset-container">
    <el-form ref="passwordResetNewPassForm" :model="passwordResetNewPassForm" :rules="passwordResetNewPassRules" class="password-reset-form" auto-complete="on" label-position="left">
      <div class="title-container">
        <h3 class="title">
          {{ $t('password_reset.changePassword') }}
        </h3>
        <lang-select class="set-language" />
      </div>

      <el-form-item prop="email">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input
          ref="email"
          v-model="passwordResetNewPassForm.email"
          :placeholder="$t('password_reset.email')"
          name="email"
          type="email"
          auto-complete="on"
          @keyup.enter.native="handleChangePassword"
        />
      </el-form-item>

      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          ref="password"
          v-model="passwordResetNewPassForm.password"
          :type="passwordType"
          :placeholder="$t('password_reset.password')"
          name="password"
          auto-complete="on"
          @keyup.enter.native="handleChangePassword"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
      </el-form-item>

      <el-form-item prop="password_confirmation">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          ref="password"
          v-model="passwordResetNewPassForm.password_confirmation"
          :type="passwordType"
          :placeholder="$t('password_reset.password_confirmation')"
          name="password_confirmation"
          auto-complete="on"
          @keyup.enter.native="handleChangePassword"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
      </el-form-item>

      <el-button :loading="loading" :plain="true" type="primary" style="width:100%;margin-bottom:30px;" @click.native.prevent="handleChangePassword">
        {{ $t('password_reset.changePassword') }}
      </el-button>

      <router-link to="/login">
        <el-button type="primary" style="width:100%;margin-bottom:30px;">
          {{ $t('login.logIn') }}
        </el-button>
      </router-link>

      <router-link to="/register">
        <el-button type="primary" style="width:100%;margin-bottom:30px;">
          {{ $t('register.register') }}
        </el-button>
      </router-link>

    </el-form>
  </div>
</template>

<script>
import { validEmail } from '@/utils/validate'
import LangSelect from '@/components/LangSelect'

export default {
  name: 'PasswordReset',
  components: { LangSelect },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error('Please enter a valid email'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 8) {
        callback(new Error('The password can not be less than 8 digits'))
      } else {
        callback()
      }
    }
    const validatePasswordConfirmation = (rule, value, callback) => {
      if (value !== this.passwordResetNewPassForm.password) {
        callback(new Error('The password confirmation must match the password'))
      } else {
        callback()
      }
    }
    return {
      passwordResetNewPassForm: {
        email: '',
        password: '',
        password_confirmation: '',
        token: ''
      },
      passwordResetNewPassRules: {
        email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }],
        password_confirmation: [{ required: true, trigger: 'blur', validator: validatePasswordConfirmation }]
      },
      passwordType: 'password',
      loading: false
    }
  },
  mounted() {
    if (this.passwordResetNewPassForm.email === '') {
      this.$refs.email.focus()
    }
    this.passwordResetNewPassForm.token = this.$route.params.token
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleChangePassword() {
      this.$refs.passwordResetNewPassForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('ResetPassword', this.passwordResetNewPassForm).then(() => {
            this.$router.push('/login')
            this.loading = false
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  /* 修复input 背景不协调 和光标变色 */
  /* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

  $bg:#283443;
  $light_gray:#eee;
  $cursor: #fff;

  @supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .password-reset-container .el-input input{
      color: $cursor;
      &::first-line {
        color: $light_gray;
      }
    }
  }

  /* reset element-ui css */
  .password-reset-container {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        caret-color: $cursor;
        &:-webkit-autofill {
          box-shadow: 0 0 0px 1000px $bg inset !important;
          -webkit-text-fill-color: $cursor !important;
        }
      }
    }
    .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }
  }
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.password-reset-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;
  .password-reset-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }
  .title-container {
    position: relative;
    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
    .set-language {
      color: #fff;
      position: absolute;
      top: 3px;
      font-size:18px;
      right: 0px;
      cursor: pointer;
    }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }
}
</style>
